.input-nome-editar-cadastro {
    outline: none;
    width: 46.6vw;
    margin-left: 0.5em;
    height: 1vw;
}

.input-cpf-editar-cadastro {
    outline: none;
    width: 7.5vw;
    margin-left: 0.5em;
    height: 1vw;
}

.input-rg-editar-cadastro {
    outline: none;
    width: 8vw;
    margin-left: 0.5em;
    height: 1vw;
    margin-bottom: 1px;
}

.input-cartaoSUS-editar-cadastro {
    outline: none;
    width: 11.6vw;
    margin-left: 0.5em;
    height: 1vw;
}

.input-endereco-editar-cadastro {
    outline: none;
    width: 55vw;
    margin-left: 0.5em;
    height: 1vw;
}

.input-numero-editar-cadastro {
    outline: none;
    width: 4vw;
    margin-left: 0.5em;
    height: 1vw;
}

.select-sexo-novo-paciente1{
    width: 15%;
    height: 20px;
    margin-left: 2px;
}

.input-nome-dados-responsavel{
    outline: none;
    width: 11.6vw;
    margin-left: 0.5em;
    height: 1vw;
}

@media (max-width: 920px) {
    .input-nome-editar-cadastro, 
    .input-cpf-editar-cadastro, 
    .input-rg-editar-cadastro, 
    .input-cartaoSUS-editar-cadastro, 
    .input-endereco-editar-cadastro, 
    .input-numero-editar-cadastro,
    .select-sexo-novo-paciente1 {
      width: 100%;
      margin-left: 0; 
      height: auto; 
    }
    
    .form-novo-cadastro {
      display: flex;
      flex-direction: column;
    }
  }
  
  @media (max-width: 768px) {
    .form-novo-cadastro {
      flex-direction: column; 
    }
    
    .input-nome-editar-cadastro, 
    .input-cpf-editar-cadastro, 
    .input-rg-editar-cadastro, 
    .input-cartaoSUS-editar-cadastro, 
    .input-endereco-editar-cadastro, 
    .input-numero-editar-cadastro,
    .select-sexo-novo-paciente1 {
      width: 100%;
      margin-left: 0;
      height: auto;
    }
  }
  